@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

input,
textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-weight: 550;
  opacity: 1; /* Firefox */
}

input,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  font-weight: 550;
}

input,
textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  font-weight: 550;
}

input,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
  font-weight: 550;
}
input,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  font-weight: 550;
}
input,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
  font-weight: 550;
}
input,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: black;
  font-weight: 550;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-weight: 550;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
  font-weight: 550;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
  font-weight: 550;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
  font-weight: 550;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  font-weight: 550;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
  font-weight: 550;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: black;
  font-weight: 550;
}
